@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 21px;
    line-height: 31px;
    color: #0E0E0E;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1702px;
    margin: 0 160px;
}
.cp{
    padding: 106px 0;
}
.m-0{
    margin: 0;
}
.text-center{
    text-align: center;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px 0;
}
.header-h1{
    font-size: 32px;
    font-weight: 700;
}
.btn{
    font-size: 23px;
    font-weight: 600;
    padding: 20px 40px;
    border: 1px solid #006A50;
    border-radius: 10px;
    color: #006A50;
    transition: .33s all linear;
}
.btn:hover{
    background-color: #006A50;
    color: #fff;
    cursor: pointer;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 31px;
    padding: 117px 59px;
}
.banner-text{
    max-width: 720px;
}
.banner-text h4{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-text h1{
    font-size: 66px;
    line-height: 85px;
    font-weight: 700;
    color: #0E0E0E;
    margin: 20px 0;
}
.banner-image{
    max-width: 474px;
}
.banner-image img{
    width: 100%;
}
/* header end */
.pillars-title{
    font-size: 40px;
    font-weight: 700;
}
.pillars-items{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    gap: 31px;
}
.pillar-item{
    max-width: 400px;
    padding: 31px;
    border-radius: 21px;
    text-align: justify;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pillar-item h3{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
}
/* pillar end */
.vision-title{
    font-size: 40px;
    font-weight: 700;
}
.vision-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 70%;
}
.vision-items{
    display: flex;
    justify-content: space-between;
    gap: 31px;
}
.one{
    background-color: rgba(84, 144, 245, 0.2);
}
.two{
    background-color: rgba(198, 228, 214, 1);
}
.three{
    background-color: rgba(247, 235, 207, 1);
}
.c-1{
    background-color: #5490F5;
    color: #fff;
}
.c-1:hover{
    background-color: #fff;
    color: #5490F5;
}
.c-2{
    background-color: #09A15C;
    color: #fff;
}
.c-2:hover{
    background-color: #fff;
    color: #09A15C;
}
.c-3{
    background-color: #FFC239;
    color: #fff;
}
.c-3:hover{
    background-color: #fff;
    color: #FFC239;
}
.vision-item{
    max-width: 400px;
    padding: 31px;
    border-radius: 21px;
    text-align: justify;
}
.vision-bottom{
    border-radius: 21px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 31px 63px;
    margin-top: 32px;
    position: relative;
}
.quote-bg{
    position: absolute;
    opacity: 70%;
    color: #0E0E0E;
    margin-top: -9px;
}
.vision-des{
    margin: 15px 0;
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    color: #0E0E0E;
    opacity: 80%;
}
.vision-bottom h3{
    margin-bottom: 5px;
    color: #0E0E0E;
    opacity: 80%;
}
.vision-des-2{
    color: #0E0E0E;
    opacity: 60%;
}
.rn-btn{
    background-color: #006A50;
    color: #fff;
}
.rn-btn:hover{
    background-color: #fff;
    color: #006A50;
}
.recent-title{
    font-size: 40px;
    font-weight: 700;
}
.recent-description{
    color: #0E0E0E;
    opacity: 70%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 12px 0 32px;
    text-align: justify;
}
.recent-bottom{
    margin-top: 32px;
    border-radius: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 60px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cmbr{
    border-radius: 24px;
}
.right-content h2{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}
.time{
    margin: 0;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
}
/* footer start */
footer{
    background-color: white;
    padding: 60px 0;
}
footer h2{
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
.ft-hr{
    border: 1px solid #0E0E0E;
    opacity: 10%;
    width: 1122px;
    margin:  32px auto;
}
.social-icon a{
   margin-right: 23px;
}
.social-icon a:last-child{
    margin-right: 0;
}
/* footer end */